// .shrink-logo {
//   width: 120px;
//   transition: all 0.3s ease-in-out;
// }

// .normal-logo {
//   width: 550px;
//   transition: all 0.3s ease-in-out;
// }


/* Header default state */
#site-header {
  transition: all 0.3s ease-in-out;
}

/* Logo default size */
#site-logo {
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: scale(3);
  opacity: 1;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translate(-50%, -50%) scale(1);
  max-height: 120px; /* Adjust based on design */
}

/* Logo shrink effect */
#site-header.scrolled #site-logo {
  transform: translate(-50%, -50%) scale(0.6);
  top: 100%; /* Adjust to move closer to nav links */
  opacity: 0.9;
}

/* Header Shrinks */
#site-header.scrolled {
  padding: 10px 0;
  backdrop-filter: blur(10px);
}


.clip-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mask-image: url("../resources/images/mask1.png");
  -webkit-mask-image: url("../resources/images/mask1.png");
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
}

.clip-image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mask-image: url("../resources/images/mask2.png");
  -webkit-mask-image: url("../resources/images/mask2.png");
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
}

.menu-item {
  &:hover {
    text-decoration: underline;
  }
}

.nav-menu {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-family: "Owners", sans-serif;
  font-weight: medium;
  letter-spacing: 0.05em;

  @media (max-width: 768px) {
    gap: 0.5rem;
    font-size: 11px;
    letter-spacing: 0em;
  }
}

.iframe-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%; /* Aspect ratio for 16:9 video */
  mask-image: url("../images/iframe-frame.png");
  -webkit-mask-image: url("../images/iframe-frame.png");
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
  overflow: hidden;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.swiper {
  overflow: visible !important;
}
